<div class="modal-body modal-gameOver">
	<div id = "modal-close">
		<img id ="modalCloseBtn" src="img/close.png" alt="close modal button" ng-click="closeModal()">
	</div>
    <img id= "gameOverLogo" src="img/gameOver.png" alt="logo game over">
    <form class = "saveResultForm">
       	<p><label>Your score : {{harvestNumber}} harvests</label></p>
 		<label>Your name : </label>
       	<input type="text" placeholder="Enter your name" name="name" ng-model="name" required>
	    <img id ="saveResultBtn" src="img/check.png" alt="save result button" ng-click="saveResult()">
    	       
    </form> 
</div>